<html>
  <body>
    <h1>Add book</h1>
    <form method="POST" action="/">
      <input type="text" name="id">
      <input type="text" name="first_name">
      <input type="submit" value="Add">
    </form>

    <h1>Books</h1>
    <table>
      {% for user in Users %}
        <tr>
          <td>
            {{user.id}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="text" value="{{user.id}}" name="id">
              <input type="text" value="{{user.first_name}}" name="first_name">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
